<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>counterExample</title>
    <style>
        .tit{
            text-align:center;
        }
    </style>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
</head>
<body>
    <div class="tit">
        <div>
            <div>   <b style="font-size:40px">连续不一定可导</b>   </div>
            <idv>   <b style="font-size:30px">y = |x|</b>  </idv>
        </div>
        <div>
            <div>   <b style="font-size:40px">可导一定连续</b>   </div>
            <idv>   <b style="font-size:30px">y = |x|</b>  </idv>
        </div>
    </div>
</body>
</html>