<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>counterExample</title>
    <style>
        .tit{
            text-align:center;
        }
    </style>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
</head>
<body>
    <div class="tit">
        <div>
            <div>   <b style="font-size:40px">连续不一定可导</b>   </div>
            <div style="font-size:30px">
                <span style="color:red">反例:</span>
                <span>y = |x|</span>
            </div>
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">可导一定连续</b>   </div>
            <div>  <img src="../static/Math/counterExample/1.png" style="width:1000px;">   </div>
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">极限存在不一定连续</b>   </div>
            <div style="font-size:30px">
                <div style="color:red;text-align:left;text-indent: 335px;">反例:</div>
                <img src="../static/Math/counterExample/2.png" style="width:1000px;">
            </div>
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">连续一定极限存在</b>   </div>
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">连续一定可积</b>   </div>
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">可积不一定连续</b>   </div>
            <div style="font-size:30px">
                <span style="color:red">反例:</span>
                <span>Riemann函数</span>
            </div>
            <img src="../static/Math/counterExample/3.png" style="width:1000px;">
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">连续一定有界</b>   </div>
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">有界不一定连续</b>   </div>
            <div style="font-size:30px">
                <span style="color:red">反例:</span>
                <span>Dirichlet函数</span>
            </div>
            <img src="../static/Math/counterExample/4.png" style="width:1000px;">
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">有界不一定可积</b>   </div>
            <div style="font-size:30px">
                <span style="color:red">反例:</span>
                <span>Dirichlet函数</span>
            </div>
            <div style="line-height:30px;"><br /></div>
        </div>
        <div>
            <div>   <b style="font-size:40px">可积一定有界</b>   </div>
            <div>  <img src="../static/Math/counterExample/5.png" style="width:1000px;">   </div>
            <div style="line-height:30px;"><br /></div>
        </div>

    </div>
</body>
</html>