<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data generation method</title>
    <style>
        .tit{
            text-align:center;
        }
        div{
            font-size:20px;
        }
    </style>
    <link href="../static/css/code.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成多分类的数据集(make_classification)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>import pandas as pd</code></span>
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code></code></span>
                <span><code>from sklearn.datasets import make_classification</code></span>
                <span><code></code></span>
                <span><code>X, y = make_classification(n_samples=1000,n_classes=2, random_state=20)</code></span>
                <span><code></code></span>
                <span><code>df = pd.DataFrame(dict(x=X[:, 0], y=X[:, 3], label=y))</code></span>
                <span><code>colors = {0: 'red', 1: 'blue'}</code></span>
                <span><code>fig, ax = plt.subplots()</code></span>
                <span><code>grouped = df.groupby('label')</code></span>
                <span><code>for key, group in grouped:</code></span>
                <span><code>    group.plot(ax=ax, kind='scatter', x='x', y='y', label=key, color=colors[key])</code></span>
                <span><code>plt.show()</code></span>
            </pre>
        </li>
        <li>
            <div>效果</div>
            <div><img src="../static/ICS/dataGenerationMethod/1.png"></div>
        </li>
    </ol>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成团簇的数据集(make_blobs)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code>from sklearn.datasets import make_blobs</code></span>
                <span><code></code></span>
                <span><code>X, y = make_blobs(n_samples=1000, centers=3, n_features=2, random_state=0)</code></span>
                <span><code>plt.scatter(X[:, 0][y == 0], X[:, 1][y == 0], c='r')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 1], X[:, 1][y == 1], c='b')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 2], X[:, 1][y == 2], c='g')</code></span>
                <span><code>plt.show()</code></span>
            </pre>
            <div>也可以这样</div>
            <pre id="code_block">
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code>from sklearn.datasets import make_blobs</code></span>
                <span><code></code></span>
                <span><code>X, y = make_blobs(n_samples=[100,300,250,400], n_features=2,</code></span>
                <span><code>                  centers=[[100,120],[250,300], [700,150],[300,500]],</code></span>
                <span><code>                  cluster_std=50, random_state=42)</code></span>
                <span><code>plt.scatter(X[:, 0][y == 0], X[:, 1][y == 0], c='r')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 1], X[:, 1][y == 1], c='b')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 2], X[:, 1][y == 2], c='g')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 3], X[:, 1][y == 3], c='y')</code></span>
                <span><code>plt.show()</code></span>
            </pre>
        </li>
        <li>
            <div>效果</div>
            <div><img src="../static/ICS/dataGenerationMethod/2.png"></div>
            <div><img src="../static/ICS/dataGenerationMethod/3.png"></div>
        </li>
    </ol>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成月亮型的数据集(make_moons)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code>from sklearn.datasets import make_moons</code></span>
                <span><code></code></span>
                <span><code>X, y = make_moons(n_samples=1000,random_state=42,shuffle=True,noise=0.1)</code></span>
                <span><code>plt.scatter(X[:, 0][y == 0], X[:, 1][y == 0], c='r')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 1], X[:, 1][y == 1], c='b')</code></span>
                <span><code>plt.show()</code></span>
            </pre>
        </li>
        <li>
            <div>效果</div>
            <div><img src="../static/ICS/dataGenerationMethod/4.png"></div>
        </li>
    </ol>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成环形的数据集(make_circles)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code>from sklearn.datasets import make_circles</code></span>
                <span><code></code></span>
                <span><code>X, y = make_circles(n_samples=1000,random_state=42,shuffle=True,noise=0.1)</code></span>
                <span><code>plt.scatter(X[:, 0][y == 0], X[:, 1][y == 0], c='r')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 1], X[:, 1][y == 1], c='b')</code></span>
                <span><code>plt.show()</code></span>
            </pre>
        </li>
        <li>
            <div>效果</div>
            <div><img src="../static/ICS/dataGenerationMethod/5.png"></div>
        </li>
    </ol>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成具有正态分布的同心超球数据集(make_gaussian_quantiles)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code>from sklearn.datasets import make_gaussian_quantiles</code></span>
                <span><code></code></span>
                <span><code>X, y = make_gaussian_quantiles(n_samples=1000,random_state=42,n_classes=3)</code></span>
                <span><code>plt.scatter(X[:, 0][y == 0], X[:, 1][y == 0], c='r')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 1], X[:, 1][y == 1], c='b')</code></span>
                <span><code>plt.scatter(X[:, 0][y == 2], X[:, 1][y == 2], c='g')</code></span>
                <span><code>plt.show()</code></span>
            </pre>
        </li>
        <li>
            <div>效果</div>
            <div><img src="../static/ICS/dataGenerationMethod/6.png"></div>
        </li>
    </ol>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成10个特征具有标准独立高斯数据集(make_hastie_10_2)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>from sklearn.datasets import make_hastie_10_2</code></span>
                <span><code></code></span>
                <span><code>X, y = make_hastie_10_2(n_samples=1000,random_state=42)</code></span>
            </pre>
        </li>
    </ol>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成多标签数据集(make_multilabel_classification)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>import numpy as np</code></span>
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code></code></span>
                <span><code>from sklearn.datasets import make_multilabel_classification as make_ml_clf</code></span>
                <span><code>x, y = make_ml_clf(n_samples=1000, n_features=10,n_classes=3, random_state=0)</code></span>
                <span><code>print(x.shape, y.shape)</code></span>
                <span><code>print(y[:10,:])</code></span>
            </pre>
            <div>结果如下：</div>
            <div>(1000, 10) (1000, 3)</div>
            <div>[[0 1 0]</div>
            <div> [1 0 1]</div>
            <div> [1 1 1]</div>
            <div> [0 1 1]</div>
            <div> [1 1 0]</div>
            <div> [0 1 0]</div>
            <div> [1 1 1]</div>
            <div> [1 0 1]</div>
            <div> [1 1 1]</div>
            <div> [1 1 0]]</div>
        </li>
    </ol>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成具有恒定块对角线结构数据集(make_biclusters)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code>from sklearn.datasets import make_biclusters</code></span>
                <span><code></code></span>
                <span><code>data, rows, columns = make_biclusters(</code></span>
                <span><code>    shape=(300, 300), n_clusters=5, noise=5,</code></span>
                <span><code>    shuffle=False, random_state=0)</code></span>
                <span><code></code></span>
                <span><code>plt.matshow(data, cmap=plt.cm.Blues)</code></span>
                <span><code>plt.title("Original dataset")</code></span>
                <span><code>plt.show()</code></span>
            </pre>
        </li>
        <li>
            <div>效果</div>
            <div><img src="../static/ICS/dataGenerationMethod/7.png"></div>
        </li>
    </ol>
    <div class="tit">
        <span style="color:red;font-size:40px;">生成具有棋盘格结构数据集(make_checkerboard)</span>
    </div>
    <ol type="I">
        <li>
            <div>代码实现</div>
            <pre id="code_block">
                <span><code>import matplotlib.pyplot as plt</code></span>
                <span><code>from sklearn.datasets import make_checkerboard</code></span>
                <span><code></code></span>
                <span><code>data, rows, columns = make_checkerboard(</code></span>
                <span><code>    shape=(300, 300), n_clusters=5, noise=5,</code></span>
                <span><code>    shuffle=False, random_state=0)</code></span>
                <span><code></code></span>
                <span><code>plt.matshow(data, cmap=plt.cm.Blues)</code></span>
                <span><code>plt.title("Original dataset")</code></span>
                <span><code>plt.show()</code></span>
            </pre>
        </li>
        <li>
            <div>效果</div>
            <div><img src="../static/ICS/dataGenerationMethod/8.png"></div>
        </li>
    </ol>
</body>
</html>