<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>复变函数与积分变换</title>
</head>
<body>
<div align="center">
    <div style="font-size:30px;">复数与复变函数</div>
    <iframe name="复数与复变函数" src="../static/Math/fubianhanshuyujifenbianhuan/1.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">解析函数</div>
    <iframe name="复数与复变函数" src="../static/Math/fubianhanshuyujifenbianhuan/2.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">复变函数的积分</div>
    <iframe name="复数与复变函数" src="../static/Math/fubianhanshuyujifenbianhuan/3.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">级数</div>
    <iframe name="复数与复变函数" src="../static/Math/fubianhanshuyujifenbianhuan/4.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">留数</div>
    <iframe name="复数与复变函数" src="../static/Math/fubianhanshuyujifenbianhuan/5.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">保形映射</div>
    <iframe name="复数与复变函数" src="../static/Math/fubianhanshuyujifenbianhuan/6.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">傅里叶变换</div>
    <iframe name="复数与复变函数" src="../static/Math/fubianhanshuyujifenbianhuan/7.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">拉普拉斯变换</div>
    <iframe name="复数与复变函数" src="../static/Math/fubianhanshuyujifenbianhuan/8.pdf" width="1000" height="700"></iframe>
</div>
</body>
</html>