<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高等代数与解析几何</title>
</head>
<body>
<div align="center">
    <div style="font-size:30px;">空间向量、平面、直线</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/1.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">矩阵初步与n阶行列式</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/2.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">矩阵的秩与线性方程组</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/3.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">多项式</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/4.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">矩阵的相似和若尔当标准型</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/5.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">常用曲面</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/6.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">二次型与矩阵的合同</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/7.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">线性空间</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/8.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">线性变换</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/9.pdf" width="1000" height="700"></iframe>
</div>
<div align="center">
    <div style="font-size:30px;">欧氏空间</div>
    <iframe name="复数与复变函数" src="../static/Math/gaodengdaishuyujiexijihe/10.pdf" width="1000" height="700"></iframe>
</div>

</body>
</html>