<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>descartes_cy</title>
    <style>
        .del{
            text-decoration:none;
        }
        a:link {color: blue}
        a:visited {color: blue}
        a:hover {color: blue}
        a:active {color: blue}
    </style>

</head>
<body>
    <div><a href="/templates/Math" class="del">Math</a></div>
    <div><a href="/templates/ICS" class="del">ICS</a></div>
    <div><a href="/templates/websiteRecommendation" class="del">Website recommendation</a></div>
    <div><a href="/templates/My" class="del">My</a></div>
</body>
</html>