<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My</title>
    <style>
        a:link {color: blue}
        a:visited {color: blue}
        a:hover {color: blue}
        a:active {color: blue}
    </style>
    <base target="_blank">
</head>
<body>
    <div>
        <span style="color:red;font-size:40px;">以下为自己写的屎山</span>
        <span style="color:grey;font-size:10px;">（不喜欢可以关闭网页）</span>
    </div>
    <div style="font-size:30px;">
        <div>
            尚在更新中
        </div>
    </div>
</body>
</html>