<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/code.css" rel="stylesheet" type="text/css">
</head>
<body>
    <pre id="code_block">
        <span><code class="text">print</code>(<code class="value">1</code>)</span>
        <span><code class="key_word">print</code>(<code class="string">"hello world"</code>)</span>
        <span><code class="key_word">print</code>(<code class="string">"hello again"</code>)</span>
        <span><code class="tag">print</code>(<code class="string">"hello again"</code>)</span>
    </pre>
</body>
</html>