<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>the questions on pip</title>
    <style>
        .tit{
            text-align:center;
        }
        code{
            color:blue;
        }
        a:link {color: black}
        a:visited {color: black}
        a:hover {color: black}
        a:active {color: black}
    </style>
    <base target="_blank">
</head>
<body>
    <div>开篇提示</div>
    <div style="color:red;">以下安装code尽可能使用清华源</div>
    <div class="tit">
        <div>
            <div>   <b style="font-size:40px;color:red;">pytorch-gup安装</b>   </div>
            <ol type="I" style="text-align:left;font-size:30px;">
                <li>
                    <div>查看cuda版本</div>
                    <div>在命令行中输入nvidia-smi</div>
                    <div><code>nvidia-smi</code></div>
                    <img src="../static/ICS/1.webp">
                    <div>得到cuda版本为11.1，主要关注该版本是否大于10.2即可。</div>
                </li>
                <li>
                    <div>安装torch、torchvision、torchaudio三个组件</div>
                    <div>以python3.8为例，当然其他版本也适用。</div>
                    <div>经验：1. 安装cuda10.2（又写作cu102）版本对应的三个组件，是比较稳妥的</div>
                    <div>2. 国内源容易在安装时自动替换为cpu版本，因此从pytorch官网下载较稳妥</div>
                    <div>3. 建议使用pip安装，conda安装很可能会安装为cpu版本</div>
                    <div>下面为具体步骤：</div>
                    <ol type="i">
                        <li>
                            <div>
                                <span>打开网址：</span>
                                <a href="https://download.pytorch.org/whl/cu102">https://download.pytorch.org/whl/cu102</a>
                            </div>
                            <img src="../static/ICS/2.webp">
                            <div>首先选择torch，ctrl + F 搜索 [cu102-cp38-cp38-win] 这里cu102 是我们下载的 CUDA 10.2 版本，cp38-cp38 是说我们的 Python 版本是 3.8。如果要安装python3.9那将cp3.8改为cp3.9即可。</div>
                            <img src="../static/ICS/3.webp">
                            <div>
                                <span>单击即可下载，这里强烈建议改换手机热点进行下载，速度很快。这里torch版本为1.10.0，我们要去</span>
                                <a href="https://download.pytorch.org/whl/cu102">官网</a>
                                <span>查找该版本对应的torchvision 和torchaudio版本。ctrl + F 搜索 [pip install torch==1.10.0] 并且对应cuda为10.2。</span>
                            </div>
                            <img src="../static/ICS/4.webp">
                            <div>因此torchvision需要安装0.11.0版本，torchaudio需要安装0.10.0版本。</div>
                            <div>
                                <span>在之前的</span>
                                <a href="https://download.pytorch.org/whl/cu102">网址</a>
                                <span>中选择torchaudio，ctrl + F 搜索 [cu102-cp38-cp38-win]，选择版本为0.10.0的。高亮处单击下载。</span>
                            </div>
                            <img src="../static/ICS/5.png">
                            <div>同理在之前的网址中选择torchvision，ctrl + F 搜索 [cu102-cp38-cp38-win]，选择版本为0.11.0的。高亮处单击下载。</div>
                            <img src="../static/ICS/6.webp">
                            <div>下载了3个.whl文件，建议都安装到同一个文件夹下，比如D:\pytorch_whl</div>
                            <img src="../static/ICS/7.webp">
                        </li>
                        <li>
                            <div>安装虚拟环境</div>
                            <div>默认大家都安装好Anaconda了。在开始菜单中搜索anaconda Prompt，点击进入。</div>
                            <img src="../static/ICS/8.webp">
                            <div>创建python虚拟环境：</div>
                            <code>conda create -n your_env_name python=x.x</code>
                            <div>这里your_env_name表示你即将安装的虚拟环境的名字，x.x表示python版本。我这里设置名称为gym_gpu，安装的python版本为3.8，于是输入 conda create -n gym_gpu python=3.8 后回车：</div>
                            <img src="../static/ICS/9.webp">
                            <div>注意gym_gpu文件夹可以在Anaconda的安装目录下的envs文件夹下找到。</div>
                            <img src="../static/ICS/10.webp">
                            <div>之后激活该虚拟环境</div>
                            <code>conda activate your_env_name</code>
                            <div>那么这里就输入conda activate gym_gpu 后回车</div>
                            <img src="../static/ICS/11.webp">
                            <div>回车后的结果应该前面有一个（gym_gpu），代表你现在已经进入了gym_gpu这个虚拟环境。</div>
                            <img src="../static/ICS/12.webp">
                        </li>
                        <li>
                            <div>加载.whl文件并测试安装是否成功</div>
                            <div>现在需要依次将之前安装的三个.whl文件加载，需要这三个文件的绝对路径，以我刚才的安装路径D:\pytorch_whl 为例，依次按下面顺序输入(就是输入完一个就按一下回车)：</div>
                            <div><code>pip install D:\pytorch_whl\torch-1.10.0+cu102-cp38-cp38-win_amd64.whl</code></div>
                            <div><code>pip install D:\pytorch_whl\torchaudio-0.10.0+cu102-cp38-cp38-win_amd64.whl</code></div>
                            <div><code>pip install D:\pytorch_whl\torchvision-0.11.0+cu102-cp38-cp38-win_amd64.whl</code></div>
                            <div>安装过程耐心等待。</div>
                            <div>安装结束后需要测试是否成功安装gpu版本的pytorch，这里依旧在gym_gpu环境下输入python，进入python编程环境后输入import torch 回车后输入torch.cuda.is_available()。如果返回True则安装成功。</div>
                            <img src="../static/ICS/13.webp">
                            <div>另外补充一下，如果安装过程中出现差错，需要删除某个虚拟环境时，可以在base环境下使用指令</div>
                            <code>conda remove -n  需要删除的环境名 --all</code>
                            <div>比如我自己创建的虚拟环境命名为my_torch，但是我想删除它。就可以使用下面的指令：</div>
                            <code>conda remove -n my_torch --all</code>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <div style="line-height:30px;"><br /></div>
        <div>
            <div>   <b style="font-size:40px;color:red;">sklearn安装</b>   </div>
            <div style="text-align:left;font-size:30px;"><code>pip install scikit-learn -i https://pypi.tuna.tsinghua.edu.cn/simple</code></div>
        </div>
        <div style="line-height:30px;"><br /></div>
        <div>
            <div>   <b style="font-size:40px;color:red;">graphviz安装</b>   </div>
            <ol type="I" style="text-align:left;font-size:30px;">
                <li>
                    <div>
                        <span>点击链接下载安装包</span>
                        <a href="https://graphviz.gitlab.io/_pages/Download/windows/graphviz-2.38.msi">graphviz-2.38.msi</a>
                    </div>
                    <div><img src="../static/ICS/14.png" ></div>
                </li>
                <li>
                    <div>双击下载好的msi文件，然后一直选择Next，默认安装在C盘的Program Files（x86）下，详细安装步骤如下所示：</div>
                    <div><img src="../static/ICS/15.png" ></div>
                    <div><img src="../static/ICS/16.png" ></div>
                    <div><img src="../static/ICS/17.png" ></div>
                    <div><img src="../static/ICS/18.png" ></div>
                    <div><img src="../static/ICS/19.png" ></div>
                </li>
                <li>
                    <div>配置环境变量：计算机→属性→高级系统设置→高级→环境变量→系统变量→path，在path中加入路径：C:\Program Files (x86)\Graphviz2.38\bin</div>
                    <div><img src="../static/ICS/20.png" ></div>
                </li>
                <li>
                    <div>验证安装：在cmd命令行界面，输入dot -version，然后按回车，如果显示如下图所示的graphviz相关版本信息，则代表安装配置成功！</div>
                    <div><img src="../static/ICS/21.png" ></div>
                </li>
                <li>
                    <div>
                        <span>如果我们需要在Python中直接将.dot文件转成pdf显示出来，就需要导入库，安装库也很简单，只需要执行</span>
                        <code>pip install graphviz</code>
                        <span>即可。</span>
                    </div>
                    <div><img src="../static/ICS/22.png" ></div>
                </li>
            </ol>
        </div>
        <div style="line-height:30px;"><br /></div>
        <div>
            <div>   <b style="font-size:40px;color:red;">PIL(Pillow)安装</b>   </div>
            <div style="text-align:left;font-size:30px;white-space:nowrap"><code>pip install Pillow -i https://pypi.tuna.tsinghua.edu.cn/simple</code></div>
        </div>
        <div style="line-height:30px;"><br /></div>
        <div>
            <div>   <b style="font-size:40px;color:red;">sko(遗传算法库)安装</b>   </div>
            <div style="text-align:left;font-size:30px;white-space:nowrap"><code>pip install scikit-opt -i https://pypi.tuna.tsinghua.edu.cn/simple</code></div>
        </div>
        <div style="line-height:30px;"><br /></div>
        <div>
            <div>   <b style="font-size:40px;color:red;">bayes-opt贝叶斯优化安装</b> </div>
            <div style="text-align:left;font-size:30px;white-space:nowrap"><code>pip install bayesian-optimization -i https://pypi.tuna.tsinghua.edu.cn/simple</code></div>
        </div>
        <div style="line-height:30px;"><br /></div>
        <div>
            <div>   <b style="font-size:40px;color:red;">skopt贝叶斯优化</b> </div>
            <div style="text-align:left;font-size:30px;white-space:nowrap"><code>pip install scikit-optimize -i https://pypi.tuna.tsinghua.edu.cn/simple</code></div>
        </div>
        <div style="line-height:30px;"><br /></div>
    </div>
</body>
</html>